* {
  margin: 0px;
  padding: 0px;
}

header {
  background: url("../img/header_background.png") 100% 100% no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header > .wrapper {
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header > .wrapper > .menu {
  display: flex;
  flex-direction: row;
  align-content: center;
}
header > .wrapper > .menu > p {
  margin-right: 35px;
  font-family: Raleway-Bold;
  font-size: 14px;
  color: white;
}
header > .wrapper > .menu > p:hover {
  color: #17daa3;
}
header > .wrapper > .logo, header > .wrapper .menu {
  margin-top: 30px;
  cursor: pointer;
}
header > .template {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 250px 0px;
}
header > .template > p:first-child {
  color: white;
  font-size: 46px;
  font-family: Raleway-Thin;
  text-align: center;
  margin-bottom: 25px;
}
header > .template > p:first-child > span {
  font-family: Raleway-Bold;
}
header > .template > p ~ p {
  color: white;
  font-family: ProximaNova-Light;
  font-size: 19px;
  text-align: center;
  margin-bottom: 35px;
}
header > .template > button {
  background: none;
  border: 2px white solid;
  border-radius: 35px;
  width: 140px;
  height: 40px;
  color: white;
  font-size: 14px;
  font-family: Raleway-Bold;
  cursor: pointer;
}
header > .template > button:hover {
  color: #17daa3;
  border-color: #17dab9;
}

main {
  width: 100%;
}
main > .aboutus {
  width: 1000px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
main > .aboutus > p:first-child {
  color: #576671;
  font-size: 60px;
  font-family: Raleway-ExtraLight;
  margin: 100px 0px 40px;
}
main > .aboutus > .border {
  width: 30px;
  border: 2px solid #17daa3;
  margin-bottom: 40px;
}
main > .aboutus > p:last-of-type {
  color: #87949e;
  font-size: 18px;
  font-family: ProximaNova-Regular;
  margin-bottom: 160px;
}
main > .aboutus > .wrapper {
  display: flex;
  flex-direction: row;
}
main > .aboutus > .wrapper > .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > .aboutus > .wrapper > .item > img {
  margin-bottom: 80px;
  cursor: pointer;
}
main > .aboutus > .wrapper > .item > p {
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: Raleway-Medium;
  margin-bottom: 45px;
}
main > .aboutus > .wrapper > .item > p:last-of-type {
  color: #87949e;
  font-size: 18px;
  font-family: ProximaNova-Regular;
}
main > .aboutus > button {
  color: white;
  width: 180px;
  height: 45px;
  background-color: #17daa3;
  border-radius: 35px;
  border: 1px solid #17daa3;
  cursor: pointer;
  margin-bottom: 100px;
  margin-top: 80px;
}
main > .aboutus > button:hover {
  color: #87949e;
  border-color: #edeff1;
  background-color: #edeff1;
  transition: 0.4s;
}

/* Fonts including */
@font-face {
  src: url("fonts/Raleway-Bold.ttf");
  font-family: Raleway-Bold;
}
@font-face {
  src: url("fonts/Raleway-Thin.ttf");
  font-family: Raleway-Thin;
}
@font-face {
  src: url("fonts/ProximaNova Light.ttf");
  font-family: ProximaNova-Light;
}
@font-face {
  src: url("fonts/Raleway-ExtraLight.ttf");
  font-family: Raleway-ExtraLight;
}
@font-face {
  src: url("../css/fonts/ProximaNova Regular.ttf");
  font-family: ProximaNova-Regular;
}
@font-face {
  src: url("../css/fonts/Raleway-Medium.ttf");
  font-family: Raleway-Medium;
}

/*# sourceMappingURL=style.css.map */
