$width: 1000px; // Desktop min widtch
$i: !important;
* {
	margin: 0px;
	padding: 0px;
}
header {
	background: url("../img/header_background.png") 100% 100% no-repeat;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	& > .wrapper {
		width: #{ $width };
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		@media (max-width: #{$width}) {
			width: 100%;

			@media (max-width: 580px) {
				& > .logo {
					display: none;
				}
				img[alt='search'] {
					display: none;
				}
				& > .menu > p:last-of-type {
					margin-right: 0px;
				}
				justify-content: center;
			}
			& > .menu > p {
				margin-right: 0px #{$i}; 
			}
			& > .menu {
				width: 80% #{$i};
				justify-content: space-between;
			}
		}

		& > .menu {
			display: flex;
			flex-direction: row;
			align-content: center;

			& > p {
				margin-right: 35px;
				font-family: Raleway-Bold;
				font-size: 14px;
				color: white;

				&:hover {
					color: #abffe7;
				}
			}
		}
		& > .logo, .menu {
			margin-top: 30px;
			cursor: pointer;
		}
	}
	& > .template {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		margin: 250px 0px;

		& > p:first-child {
			color: white;
			font-size: 46px;
			font-family: Raleway-Thin;
			text-align: center;
			margin-bottom: 25px;

			& > span {
				font-family: Raleway-Bold;
			}
		}
		& > p ~ p {
			color: white;
			font-family: ProximaNova-Light;
			font-size: 19px;
			text-align: center;
			margin-bottom: 35px;
		}
		& > button {
			background: none;
			border: 2px white solid;
			border-radius: 35px;
			width: 140px;
			height: 40px;
			color: white;
			font-size: 14px;
			font-family: Raleway-Bold;
			cursor: pointer;
			&:hover {
				color: #17daa3;
				border-color: #17dab9;
			}
		}
	}

}
main {
	width: 100%;

	& > .aboutus {
		width: #{ $width };
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;
		text-align: center;

		@media (max-width: #{$width}) {
			width: 100%;

			& > .wrapper {
				flex-direction: column #{$i};
				align-items: center;
			}
			& > p:first-child {
				margin-top: 50px #{$i};
			}
			& > p:last-of-type {
				margin-bottom: 100px #{$i};
			}
			& > .wrapper > .item > img {
				margin-bottom: 30px #{$i};
			}
			& > button {
				margin: 40px 0px 50px #{$i};
				width: 80% #{$i};
				font-size: 20px;
			}
		}

		& > p:first-child {
			color: #576671;
			font-size: 60px;
			font-family: Raleway-ExtraLight;
			margin: 100px 0px 40px;
		}
		& > .border {
			width: 30px;
			border: 2px solid #17daa3;
			margin-bottom: 40px;
		}
		& > p:last-of-type {
			color: #87949e;
			font-size: 18px;
			font-family: ProximaNova-Regular;
			margin-bottom: 160px;
		}
		& > .wrapper {
			display: flex;
			flex-direction: row;

			& > .item {
				display: flex;
				flex-direction: column;
				align-items: center;

				& > img {
					margin-bottom: 80px;
					cursor: pointer;
				}
				& > p {
					text-align: center;
					color: black;
					font-size: 25px;
					font-family: Raleway-Medium;
					margin-bottom: 45px;
				}
				& > p:last-of-type {
					color: #87949e;
					font-size: 18px;
					font-family: ProximaNova-Regular;
				}
			}
		}
		& > button {
			color: white;
			width: 180px;
			height: 45px;
			background-color: #17daa3;
			border-radius: 35px;
			border: 1px solid #17daa3;
			cursor: pointer;
			margin-bottom: 100px;
			margin-top: 80px;

			&:hover {
				color: #87949e;
				border-color: #edeff1;
				background-color: #edeff1;
				transition: 0.4s;
			}
		}
	}
	& > .brand {
		background-color: #f9f9fa;
		width: 100%;

		@media (max-width: #{$width}) {
			& > .brand_container {
				width: 100% #{$i};
				flex-direction: column #{$i};
				padding: 50px 0px #{$i};

				& > .photo {
					display: flex;
					justify-content: center;
				}

				& > .description {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					width: 90% #{$i};

					& > button {
						width: 80% #{$i};
						font-size: 18px #{$i};
					}
				}
			}
		}
		& > .brand_container {
			width: #{ $width };
			margin: auto;
			display: flex;
			flex-direction: row;
			padding-top: 100px;
			padding-bottom: 100px;
			align-items: center;
			justify-content: space-between;

			& > .photo > img {
				width: 500px;
				cursor: pointer;
				@media (max-width: 500px) {
					width: 80% #{$i};
				}
			}
			& > .description {
				width: 440px;

				& > p {
					color: #576671;
					font-size: 50px;
					font-family: Raleway-ExtraLight;
					margin-bottom: 60px;
				}
				& > p:last-of-type {
					color: #87949e;
					font-size: 18px;
					font-family: ProximaNova-Regular;
					margin-bottom: 65px;
				}
				& > button {
					color: white;
					background-color: #17daa3;
					border-radius: 35px;
					border: 1px solid #17daa3;
					cursor: pointer;
					font-size: 14px;
					font-family: Raleway-Bold;
					width: 160px;
					height: 35px;

					&:hover {
						color: #87949e;
						border-color: #edeff1;
						background-color: #edeff1;
						transition: 0.4s;
					}
				}
			}
		}
	}
	.Opinions {
		width: 100%;
		background-image: url("../img/optinions.png");
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: #{$width}) {
			text-align: center;

			& > img {
				margin-top: 50px #{$i};
			}
			& > p:last-of-type {
				margin-bottom: 60px #{$i};
			}
		}

		& > img {
			margin-top: 100px;
			margin-bottom: 40px;
		}
		& > p {
			color: white;
			font-size: 30px;
			font-family: Raleway-Light;
			margin-bottom: 45px;

			& > span {
				color: #17daa3;
			}
		}
		& > p:last-of-type {
			color: #535353;
			font-size: 18px;
			font-family: Raleway-Light;
			margin-bottom: 100px;
		}
	}
	& > .ourservices {
		background-color: #f9f9fa;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: #{$width}) {
			& > div {
				width: 100% #{$i};
			}
			& > .main > p {
				margin: 50px 0px 25px #{$i};
			}
			&  > .main > p:last-of-type {
				text-align: center;
			}
			& > .wrap {
				flex-direction: column #{$i};
				align-items: center;
			}
			& > .wrap ~ .wrap {
				margin-bottom: 20px #{$i};
			}
			& > .wrap > .item {
				width: 80% #{$i};

				& > div ~ div > p {
					font-size: 190% #{$i};
				}
			}
		}

		& > .main {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: #{$width};

			& > p {
				color: #576671;
				font-size: 50px;
				font-family: Raleway-Light;
				margin: 100px 0px 40px;
			}
			& > .border {
				width: 30px;
				height: 1px;
				background-color: #17daa3;
			}
			& > p:last-of-type {
				color: #87949e;
				font-size: 18px;
				font-family: ProximaNova-Regular;
				margin: 70px 0px 100px;
			}
		}
		& > .wrap ~ .wrap {
			margin-bottom: 100px;
		}
		& > .wrap {
			display: flex;
			justify-content: space-between;
			width: #{$width};

			& > .item {
				display: flex;
				flex-direction: row;
				width: 470px;
				
				& > div > img {
					margin-right: 30px;
					width: 70px;
				}
				& > div ~ div {
					display: flex;
					flex-direction: column;
					
					& > p {
						color: #576671;
						font-size: 50px;
						font-family: Raleway-ExtraLight;
						margin-bottom: 40px;
					}
					& > p:last-of-type {
						color: #87949e;
						font-size: 15px #{$i};
						font-family: ProximaNova-Regular;
						line-height: 25px;
					}
				}
			}
		}
	}
	& > .pricing {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		background-color: #f9f9fa;

		@media (max-width: #{$width}) {
			& > p:first-of-type {
				margin: 50px 0px 0px  #{$i};
			}
			& > p:last-of-type {
				margin-bottom: 50px #{$i};
				text-align: center;
			}
			& > .container_for-item {
				flex-direction: column #{$i};
				width: 100% #{$i};
				align-items: center;

				& > .item {
					margin-bottom: 50px;
				}
				& > .item:last-of-type {
					margin: 0px;
				}
			}
		}

		& > p {
			color: #576671;
			font-size: 50px;
			font-family: Raleway-ExtraLight;
			margin-top: 100px;
		}
		& > .border {
			width: 30px;
			height: 1px;
			background-color: #17daa3;
			margin: 30px 0px 40px;
		}
		& > p:last-of-type {
			color: #87949e;
			font-size: 18px;
			font-family: ProximaNova-Regular;
			margin-bottom: 100px;
			margin-top: 0px;
		}
		& > .container_for-item {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: #{$width};
			margin-bottom: 100px;

			& > .item {
				background-color: white;
				border-radius: 4px;
				width: 235px;
				
				& > div:first-child {
					padding-bottom: 35px;
					border-bottom: 1px solid #eeeff1;
				}
				& > div:first-child > p {
					color: #17daa3;
					font-size: 40px;
					font-family: ProximaNova-Light;
					margin-top: 30px;
					margin-left: 15px;
				}
				& > div:first-child > p:last-of-type {
					color: #87949e;
					font-size: 14.5px;
					font-family: ProximaNova-Regular;
				}
				& > .second_section {
					& > p:first-child {
						margin-top: 50px;
					}
					& > p {
						color: #87949e;
						font-size: 13px;
						font-family: ProximaNova-Regular;
						margin-bottom: 20px;
						margin-left: 15px;
					}
					& > p:last-child {
						margin-bottom: 35px;
					}
				}
				& > div:last-of-type {
					background-color: #17daa3;
					display: flex;
					flex-direction: row;
					align-content: center;
					justify-content: space-around;
					height: 50px;
					align-items: center;
					letter-spacing: 5px;
					cursor: pointer;

					& > p {
						color: white;
						font-family: ProximaNova Bold;
						font-size: 14px;
						margin-top: 0px;
					}
				}
			}
		}
	}
	& > .map {
		background-color: white;
		width: 100%;

		@media (max-width: #{$width}) {
			& > .container {
				width: 100% #{$i};
				flex-direction: column #{$i};
				justify-content: center;

				& > div {
					margin: auto;
					text-align: center;
					display: flex;
					flex-direction: column;
					align-items: center;

					& > p {
						width: 80%;
					}
					& > p:first-of-type {
						margin: 50px 0px 30px #{$i};
					}
					& > button {
						width: 75% #{$i};
						font-size: 18px #{$i};
						height: 40px #{$i};
					}
				}
				& > div > img {
					width: 80% #{$i};
				}
			}
		}

		& > .container {
			width: #{$width};
			display: flex;
			align-items: center;
			flex-direction: row;
			margin: auto;

			& > div:first-of-type {
				& > p:first-of-type {
					color: #576671;
					font-size: 50px;
					font-family: Raleway-ExtraLight;
					margin: 100px 0px 50px;
				}
				& > p:last-of-type {
					color: #87949e;
					font-size: 14px;
					font-family: ProximaNova-Regular;
					margin-bottom: 50px;
				}
				& > button {
					color: white;
					background-color: #17daa3;
					border-radius: 35px;
					border: 1px solid #17daa3;
					cursor: pointer;
					font-size: 12px;
					font-family: Raleway-Bold;
					width: 125px;
					height: 30px;

					&:hover {
						color: #87949e;
						border-color: #edeff1;
						background-color: #edeff1;
						transition: 0.4s;
					}
				}
			}
			& > div:last-of-type {
				& > img {
					width: 550px;
					margin: 70px 0px;
					cursor: pointer;
				}
			} 
		}
	}
	.template {
		width: 100%;
		background: url("../img/Try our template.png") 50% 40%;
		display: flex;
		align-items: center;
		flex-direction: column;

		@media (max-width: #{$width}) {
			& > p {
				padding-top: 75px #{$i};
			}
			& > button {
				margin-bottom: 75px #{$i};
				width: 80% #{$i};
				font-size: 17px #{$i};
				height: 35px #{$i};
			}
		}

		& > p {
			color: white;
			font-family: Raleway-ExtraLight;
			font-size: 50px;
			text-align: center;
			padding: 150px 0px 50px;

			& > span {
				font-family: Raleway-Bold;
			}
		}
		& > button {
			color: white;
			background-color: #17daa3;
			border-radius: 35px;
			border: 1px solid #17daa3;
			cursor: pointer;
			font-size: 12px;
			font-family: Raleway-Bold;
			width: 125px;
			height: 30px;
			margin: 0px auto 150px;

			&:hover {
				color: #87949e;
				border-color: #edeff1;
				background-color: #edeff1;
				transition: 0.4s;
			}
		}
	}
}
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	width: #{$width};
	margin: auto;

	@media (max-width: #{$width}) {
		width: 100%;
		flex-direction: column;
		align-items: center;

		& > div:first-of-type {
			margin-bottom: 15px;
		}
	}

	& > div {
		margin: 40px 0px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	& > div:first-of-type > img {
		margin-right: 20px;
	}
	& > div:first-of-type > p {
		color: #87949e;
		font-size: 15px;
		font-family: ProximaNova-Regular;
	}
	& > div:last-of-type {
		& > p {
			color: #87949e;
			font-size: 15px;
			margin-right: 20px;
			cursor: pointer;

			&:hover {
				color: #07fab4;
			}
		}
	}
}
//Fonts including
@font-face {
	src: url("fonts/Raleway-Bold.ttf");
	font-family: Raleway-Bold;
}
@font-face {
	src: url("fonts/Raleway-Thin.ttf");
	font-family: Raleway-Thin;
}
@font-face {
	src: url("fonts/ProximaNova Light.ttf");
	font-family: ProximaNova-Light;
}
@font-face {
	src: url("fonts/Raleway-ExtraLight.ttf");
	font-family: Raleway-ExtraLight;
}
@font-face {
	src: url("fonts/ProximaNova Regular.ttf");
	font-family: ProximaNova-Regular;
}
@font-face {
	src: url("fonts/Raleway-Medium.ttf");
	font-family: Raleway-Medium;
}
@font-face {
	src: url("fonts/Raleway-Light.ttf");
	font-family: Raleway-Light;
}
@font-face {
	src: url("fonts/ProximaNova Bold.otf");
	font-family: ProximaNova Bold;
}